
<!--begin::Table widget 12-->
<div class="card card-flush h-xl-100"
block="posts-recent_new"
identity="{{$identity}}"
>
    <!--begin::Header-->
    <div class="card-header pt-7">
        <!--begin::Title-->
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-gray-800">{{:__('近期文章')}}</span>
            <span class="text-gray-500 mt-1 fw-semibold fs-6"></span>
        </h3>
        <!--end::Title-->
        <!--begin::Toolbar-->
        <div class="card-toolbar">
            <a href="#" class="btn btn-sm btn-light">
                {{:__('前往管理')}}
            </a>
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body" block="render_target">
    </div>
    <!--end: Card Body-->
</div>
<!--end::Table widget 12-->

<script>
try{
    let __this = {
        instance:null,
        render_target:null,
        init:function(){
            let self = this;
            self.instance = $('[block="posts-recent_new"][identity="{{$identity}}"]');
            self.render_target = self.instance.find('[block="render_target"]');
            self.load();
        },
        load:function(){
            let self = this;
            let params = {};
            let api = "/{{$htmlModule}}/Dashboard/PostsRecentNew";
            $.ajax({
                type: "post",
                url: api,
                data: params,
                dataType:'html',
                async: true,
                headers:__mm['ajax'].getHeaders(),
                success: function(data){
                    self.render_target.html(data);
                },
                error: function(data){
                },
            });
        },
    }
    __this.init();
}catch(e){
    console.error(e);
}
</script>