<div class="card card-flush --h-xl-100" style="
background-image:url('/images/bg/quicklink/9.jpg')
"
block="content-quicklink"
identity="{{$identity}}"
>   
    <!--begin::Heading-->
    
    <!--end::Heading-->              

    <!--begin::Body-->
    <div class="card-body my-3" >
        <!--begin::Stats-->
        <div class="mt- position-relative">
            <!--begin::Row-->
            <div class="row g-3 g-lg-6">
                                    <!--begin::Col-->
                    <div class="col-6">
                        <!--begin::Items-->
                        <div class="bg-gray-800 bg-opacity-50 rounded-2 px-6 py-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-30px me-5 mb-8">
                                <span class="symbol-label-">  
                                    <i class="ki-duotone ki-book-open fs-4x text-white">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                    </i>                             
                                </span>                
                            </div>
                            <!--end::Symbol-->

                            <!--begin::Stats-->
                            <div class="m-0">
                                <!--begin::Number-->
                                <span class="text-gray-100 fw-bolder d-block fs-2 lh-1 ls-n1 mb-1"
                                text-totalActivities>0</span>
                                <!--end::Number-->

                                <!--begin::Desc-->
                                <span class="text-gray-200 fw-semibold fs-6">{{:__('活動')}}</span>
                                <!--end::Desc-->
                            </div>
                            <!--end::Stats-->
                        </div>    
                        <!--end::Items-->
                    </div>    
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-6">
                        <!--begin::Items-->
                        <div class="bg-gray-800 bg-opacity-50 rounded-2 px-6 py-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-30px me-5 mb-8">
                                <span class="symbol-label-">  
                                    <i class="ki-duotone ki-profile-circle fs-4x text-white">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                    </i>                             
                                </span>                
                            </div>
                            <!--end::Symbol-->

                            <!--begin::Stats-->
                            <div class="m-0">
                                <!--begin::Number-->
                                <span class="text-gray-100 fw-bolder d-block fs-2 lh-1 ls-n1 mb-1"
                                text-totalUsers>0</span>
                                <!--end::Number-->

                                <!--begin::Desc-->
                                <span class="text-gray-200 fw-semibold fs-6">{{:__('會員')}}</span>
                                <!--end::Desc-->
                            </div>
                            <!--end::Stats-->
                        </div>    
                        <!--end::Items-->
                    </div>    
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-6">
                        <!--begin::Items-->
                        <div class="bg-gray-800 bg-opacity-50 rounded-2 px-6 py-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-30px me-5 mb-8">
                                <span class="symbol-label-">  
                                    <i class="ki-duotone ki-chart-simple-2 fs-4x text-white">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                    </i>                             
                                </span>                
                            </div>
                            <!--end::Symbol-->

                            <!--begin::Stats-->
                            <div class="m-0">
                                <!--begin::Number-->
                                <span class="text-gray-100 fw-bolder d-block fs-2 lh-1 ls-n1 mb-1"
                                text-totalProducts
                                >0</span>
                                <!--end::Number-->

                                <!--begin::Desc-->
                                <span class="text-gray-200 fw-semibold fs-6">{{:__('已兌換獎品')}}</span>
                                <!--end::Desc-->
                            </div>
                            <!--end::Stats-->
                        </div>    
                        <!--end::Items-->
                    </div>    
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-6">
                        <!--begin::Items-->
                        <div class="bg-gray-800 bg-opacity-50 rounded-2 px-6 py-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-30px me-5 mb-8">
                                <span class="symbol-label-">  
                                    <i class="ki-duotone ki-bookmark fs-4x text-white">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                    </i>                             
                                </span>                
                            </div>
                            <!--end::Symbol-->

                            <!--begin::Stats-->
                            <div class="m-0">
                                <!--begin::Number-->
                                <span class="text-gray-100 fw-bolder d-block fs-2 lh-1 ls-n1 mb-1"
                                text-totalPosts
                                >0</span>
                                <!--end::Number-->

                                <!--begin::Desc-->
                                <span class="text-gray-200 fw-semibold fs-6">{{:__('文章')}}</span>
                                <!--end::Desc-->
                            </div>
                            <!--end::Stats-->
                        </div>    
                        <!--end::Items-->
                    </div>    
                    <!--end::Col-->
                         
            </div>
            <!--end::Row-->
        </div> 
        <!--end::Stats-->
    </div>    
    <!--end::Body-->        
</div>


<script>
try{
  let __this = {
    instance:null,
    data:null,
    is:{'loaded':false},
    init:function(){
      let self = this;
      self.instance = $('[block="content-quicklink"][identity="{{$identity}}"]');
      self.initData();
    },
    initData:function(){
      let self = this;
      // self.data = JSON.parse(sessionStorage.getItem('mm-Quicklink'));
      // self.assignData(self.data);
      self.loadData();
    },
    loadData:function(){
      let self = this;
      if(self.is.loaded == true){ return; }
      let api = "/{{$apiModule}}/Dashboard/Quicklink";
      let params = [];
      $.ajax({
        type: "post",
        url: api,
        data: params,
        dataType:'json',
        async: true,
        headers:__mm['ajax'].getHeaders(),
        success: function(data){
          self.data = data.data;
          if(data.status == 'success'){
            sessionStorage.setItem('mm-Quicklink', JSON.stringify(data));
            self.assignData(data);
          }
        },
        error: function(data){
          console.error(data);
        },
        done: function(data){
        },
      });
    },
    assignData:function(data){
      let self = this;
      try{
        if(data.status != 'success'){ throw 'error'; }
        let totalActivities = self.instance.find('[text-totalActivities]');
        if(totalActivities.length > 0){ totalActivities.html(data.data.total.activities); }
        let totalUsers = self.instance.find('[text-totalUsers]');
        if(totalUsers.length > 0){ totalUsers.html(data.data.total.users); }
        let totalPosts = self.instance.find('[text-totalPosts]');
        if(totalPosts.length > 0){ totalPosts.html(data.data.total.posts); }
        let totalProducts = self.instance.find('[text-totalProducts]');
        if(totalProducts.length > 0){ totalProducts.html(data.data.total.products); }
        self.is.loaded = true;
      }catch(e){
      }
    },
  }
  __this.init();
}catch(e){
  console.error(e);
}
</script>