<!--begin::Card-->
<div class="card pt-4 mb-6 mb-xl-9"
identity="{{$identity}}"
block="kt_tab_edit_password"
>
	<!--begin::Card header
	<div class="card-header border-0">
		<div class="card-title">
			<h2>變更密碼</h2>
		</div>
	</div>
	-->
	<!--end::Card header-->
	<!--begin::Card body-->
	<div class="card-body pt-0 pb-5">
		<!--begin::Form-->
		<form class="form" id="formEditPassword">
			<input type="hidden" name="id" value="{{$row['id']}}" />
			<!--begin::Input group-->
			<div class="fv-row mb-7 fv-plugins-icon-container mt-5">
				<!--begin::Label-->
				<label class="required fw-semibold fs-6 mb-2">舊密碼</label>
				<!--end::Label-->
				<!--begin::Input-->
				<input type="password" name="password_old" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="舊密碼 Old Password" value="">
				<!--end::Input-->
				<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
			</div>
			<!--end::Input group-->
			<!--begin::Input group-->
			<div class="fv-row mb-7 fv-plugins-icon-container">
				<!--begin::Label-->
				<label class="required fw-semibold fs-6 mb-2">新密碼</label>
				<!--end::Label-->
				<!--begin::Input-->
				<input type="password" name="password_new" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="新密碼 New Password" value="">
				<!--end::Input-->
				<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
			</div>
			<!--end::Input group-->
			<!--begin::Input group-->
			<div class="fv-row mb-7 fv-plugins-icon-container">
				<!--begin::Label-->
				<label class="required fw-semibold fs-6 mb-2">確認新密碼</label>
				<!--end::Label-->
				<!--begin::Input-->
				<input type="password" name="password_new_confirm" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="確認新密碼 Confirm New Password" value="">
				<!--end::Input-->
				<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
			</div>
			<!--end::Input group-->
			<div class="d-flex justify-content-end">
				<!--begin::Button-->
				<button type="button" 
				btnSubmit
				class="btn btn-primary"
				>
					儲存密碼
				</button>
				<!--end::Button-->
			</div>
		</form>
		<!--end::Form-->
	</div>
	<!--end::Card body-->
</div>
<!--end::Card-->

<script>
try{
	let __this = {
		instance:null,
		init:function(){
			let self = this;
			self.instance = $('[identity="{{$identity}}"][block="kt_tab_edit_password"]');
			self.initBtnSubmit();
		},
		initBtnSubmit:function(){
			let self = this;
			self.instance.find('[btnSubmit]').on('click',function(){
				let $form = $(this).closest('form');
				let params = $form.serializeArray();
				
				//-----
			    let api = "/{{$apiModule}}/{{$thisController}}/EditPassword";
		        $.ajax({
		            type: "post",
		            url: api,
		            data: params,
		            dataType:'json',
		            async: true,
            		headers:__mm['ajax'].getHeaders(),
		            success: function(data){
						self.data = data.data;
						if (data.status == 'success') {
							__plugins['alert'].success('更新成功');
						}else{
							__plugins['alert'].error(data.message);
						}
		            },
		            error: function(data){
						console.error(data);
						__plugins['alert'].error(data.message);
		            },
		            done: function(data){
		            },
		        });
			})
		},
	}
	__this.init();
}catch(e){
	console.error(e);
}
</script>