
<!--begin::Card-->
<div class="card mb-5 mb-xl-8 card-reset"
identity="{{$identity}}"
block="kt_tab_switch-maintance"
>
	<!--begin::Form-->
	<form class="form">
		<input type="hidden" name="id" value="{{$row['id']}}" />
		<!--begin::Card body-->
		<div class="card-body p-0 px-5">
			<!--begin::Items-->
			<div class="py-2">
				<!--begin::Item-->
				<div class="d-flex flex-stack">
					<div class="d-flex">
						<div class="d-flex flex-column">
							<a href="#" class="fs-5 text-gray-900 text-hover-primary fw-bold">維護官網</a>
							<!-- 
							<div class="fs-6 fw-semibold text-muted">於平台上公開資訊</div>
							-->
						</div>
					</div>
					<div class="d-flex justify-content-end">
						<!--begin::Switch-->
						<label class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
							<!--begin::Input-->
							<input class="form-check-input" name="is_maintance_client_stage" type="checkbox" value="1" 
							{{:_htmlToChecked($row['is_maintance_client_stage'], 1)}}
							/>
							<!--end::Input-->
							<!--begin::Label
							<span class="form-check-label fw-semibold text-muted" for="is_public"></span>
							-->
							<!--end::Label-->
						</label>
						<!--end::Switch-->
					</div>
				</div>
				<!--end::Item-->
				<div class="separator separator-dashed my-5"></div>
				<!--begin::Item-->
				<div class="d-flex flex-stack">
					<div class="d-flex">
						<div class="d-flex flex-column">
							<a href="#" class="fs-5 text-gray-900 text-hover-primary fw-bold">維護集章活動</a>
							<!-- 
							<div class="fs-6 fw-semibold text-muted">於平台上公開資訊</div>
							-->
						</div>
					</div>
					<div class="d-flex justify-content-end">
						<!--begin::Switch-->
						<label class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
							<!--begin::Input-->
							<input class="form-check-input" name="is_maintance_client_activities_event" type="checkbox" value="1" 
							{{:_htmlToChecked($row['is_maintance_client_activities_event'], 1)}}
							/>
							<!--end::Input-->
						</label>
						<!--end::Switch-->
					</div>
				</div>
				<!--end::Item-->
				<div class="separator separator-dashed my-5"></div>
			</div>
			<!--end::Items-->
		</div>
		<!--end::Card body-->
		<!--begin::Card footer-->
		<div class="card-footer border-0 d-flex justify-content-center pt-0">
			<button type="button" class="btn btn-sm btn-light-primary" btnSubmit>儲存設定</button>
		</div>
		<!--end::Card footer-->
	</form>
</div>
<!--end::Card-->

<script>
try{
	let __this = {
		instance:null,
		init:function(){
			let self = this;
			self.instance = $('[identity="{{$identity}}"][block="kt_tab_switch-maintance"]');
			self.initBtnSubmit();
		},
		initBtnSubmit:function(){
			let self = this;
			self.instance.find('[btnSubmit]').on('click',function(){
				let $form = $(this).closest('form');
				let params = $form.serializeArray();
				
                //-----
                let $row = self.instance.closest('[row]');
                let user_id = $row.attr('this-id');
                    
				//-----
			    let api = "/{{$apiModule}}/{{$thisController}}/EditMaintance";
		        $.ajax({
		            type: "post",
		            url: api,
		            data: params,
		            dataType:'json',
		            async: true,
            		headers:__mm['ajax'].getHeaders(),
		            success: function(data){
						self.data = data.data;
						if (data.status == 'success') {
							__plugins['alert'].success('更新成功');
            				// __mm['content'].reload();
						}else{
							__plugins['alert'].error(data.message);
						}
		            },
		            error: function(data){
						console.error(data);
						__plugins['alert'].error(data.message);
		            },
		            done: function(data){
		            },
		        });
			})
		},
	}
	__this.init();
}catch(e){
	console.error(e);
}
</script>